@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root {
  --primary: #fb8f1d;
  --background: #FFFFFF;
  --primary-text: #202336;
  --secondary-text: #B8BECD;
  --transition: 0.3s all ease;
}
*{
  font-family: 'Inter', sans-serif;
  /* font-family: 'Playfair Display', serif; */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html{
  width: 100%;
}
body {
  margin: 0;
  background-color: var(--bg);
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}

#root{
  width: 100%;
}
.App {
  width: 100%;
  padding: 0px 190px;
  scroll-snap-type: y mandatory;
  background-color: var(--background);
}
@media screen and (max-width: 1024px) {
  .App{
    padding: 0px 20px;
  }
}
@media screen and (max-width: 600px) {
  .App{
    padding: 0px 20px;
  }
}
